In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("immigration_data_sample.csv")

In [5]:
df.isnull().sum()

Unnamed: 0       0
cicid            0
i94yr            0
i94mon           0
i94cit           0
i94res           0
i94port          0
arrdate          0
i94mode          0
i94addr         59
depdate         49
i94bir           0
i94visa          0
count            0
dtadfile         0
visapost       618
occup          996
entdepa          0
entdepd         46
entdepu       1000
matflag         46
biryear          0
dtaddto          0
gender         141
insnum         965
airline         33
admnum           0
fltno            8
visatype         0
dtype: int64

In [13]:
df.shape

(3096313, 28)

In [16]:
df.cicid.head(20)

0      6.0
1      7.0
2     15.0
3     16.0
4     17.0
5     18.0
6     19.0
7     20.0
8     21.0
9     22.0
10    23.0
11    24.0
12    27.0
13    28.0
14    29.0
15    30.0
16    31.0
17    33.0
18    34.0
19    35.0
Name: cicid, dtype: float64

In [2]:
fnamem = '../../data/18-83510-I94-Data-2016/i94_may16_sub.sas7bdat'
dff = pd.read_sas(fnamem, 'sas7bdat', encoding="ISO-8859-1")

In [3]:
dff.shape

(3444249, 28)

In [9]:
dff.cicid.sort_values().head(25)

0           2.0
1           3.0
2           4.0
3           5.0
4          13.0
5          20.0
6          22.0
7          25.0
8          26.0
9          28.0
10         29.0
11         34.0
12         37.0
13         38.0
14         39.0
15         42.0
16         43.0
17         44.0
18         45.0
3356317    46.0
19         47.0
20         48.0
3356281    49.0
21         50.0
3356304    51.0
Name: cicid, dtype: float64