In [2]:
# import important libraries for EDA
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Load data into dataframe
fname = 'GlobalLandTemperaturesByState.csv'
df = pd.read_csv(fname)

In [4]:
# Check data types of columns and shape of data frame
print(" Data types:\n",df.dtypes, "\n \nShape of Dataframe: ",df.shape)

 Data types:
 dt                                object
AverageTemperature               float64
AverageTemperatureUncertainty    float64
State                             object
Country                           object
dtype: object

Shape of Dataframe:  (645675, 5)

In [5]:
# Display top 5 rows
df.head()

           dt  AverageTemperature  AverageTemperatureUncertainty State Country
0  1855-05-01              25.544                          1.171  Acre  Brazil
1  1855-06-01              24.228                          1.103  Acre  Brazil
2  1855-07-01              24.371                          1.044  Acre  Brazil
3  1855-08-01              25.427                          1.073  Acre  Brazil
4  1855-09-01              25.675                          1.014  Acre  Brazil

In [6]:
# Check for duplicate rows 

duplicate_rows_df = df[df.duplicated()]
duplicate_rows_df.size

0

In [7]:
df.isnull().sum()

dt                                   0
AverageTemperature               25648
AverageTemperatureUncertainty    25648
State                                0
Country                              0
dtype: int64

In [8]:
analysis_df = df[['dt','AverageTemperature','State','Country']]

In [9]:
analysis_df[["year", "month","day"]] = analysis_df.dt.str.split('-', expand=True)

In [11]:
analysis_df = analysis_df.astype({"year":int,"month":int,"day":int})

In [17]:
analysis_df.day.unique()
analysis_df.year.max()
analysis_df.shape
analysis_df.head()

           dt  AverageTemperature State Country  year  month  day
0  1855-05-01              25.544  Acre  Brazil  1855      5    1
1  1855-06-01              24.228  Acre  Brazil  1855      6    1
2  1855-07-01              24.371  Acre  Brazil  1855      7    1
3  1855-08-01              25.427  Acre  Brazil  1855      8    1
4  1855-09-01              25.675  Acre  Brazil  1855      9    1

In [23]:
# Since data from last few centuries would be irrelevant for our analysis, I will focus on temperature data from year 1995 onwards only (~20 years) 
# and use average of that data for country each month for our analysis. The reason for doing this is because immigration data is for year 2016 vs temperature data is
# only until 2013
relevant_df = analysis_df.loc[(analysis_df.year >= 1995)]
relevant_df.shape

(54225, 7)

In [24]:
#Fill Nan rows with 0 to help with data analysis
#df = df.loc[df.AverageTemperature.notnull()]
relevant_df.fillna(0, inplace=True)

/opt/conda/lib/python3.6/site-packages/pandas/core/frame.py:3790: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [26]:
final_df = relevant_df.groupby(by=['Country','State','month']).AverageTemperature.mean()

In [27]:
final_df = final_df.reset_index()

In [28]:
final_df.count()

Country               2892
State                 2892
month                 2892
AverageTemperature    2892
dtype: int64

In [33]:
final_df.loc[final_df.State.str.upper() == 'DISTRICT OF COLUMBIA']

            Country                 State  month  AverageTemperature
2376  United States  District Of Columbia      1            0.763895
2377  United States  District Of Columbia      2            1.954421
2378  United States  District Of Columbia      3            6.739737
2379  United States  District Of Columbia      4           12.414789
2380  United States  District Of Columbia      5           17.623000
2381  United States  District Of Columbia      6           22.656842
2382  United States  District Of Columbia      7           25.008789
2383  United States  District Of Columbia      8           24.276000
2384  United States  District Of Columbia      9           20.154474
2385  United States  District Of Columbia     10           13.395333
2386  United States  District Of Columbia     11            7.793778
2387  United States  District Of Columbia     12            2.463111

In [ ]:
df.loc[df.AverageTemperature.nlargest(10).index]